<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
           http://www.springframework.org/schema/tx
           http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.0.xsd">
	<!-- 1在这里配置数据源 -->
	<context:property-placeholder location="classpath:jdbc.properties"/>
	<!-- <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="${jdbc.driverClass}"></property>
		<property name="url" value="${jdbc.dburl}"></property>
		<property name="username" value="${jdbc.user}"></property>
		<property name="password" value="${jdbc.password}"></property>
	</bean> -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
     <property name="driverClass" value="${jdbc.driverClass}"></property>
     <property name="jdbcUrl" value="${jdbc.dburl}"></property>
     <property name="user" value="${jdbc.user}"></property>
     <property name="password" value="${jdbc.password}"></property>  
   </bean>
	<!-- 2配置事务管理器 -->
	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	<!-- 3mybatis 工厂模式 SqlSessionFactory insert update 包含数据源 -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<property name="configLocation" value="classpath:mybatisConfig.xml"></property>
	</bean>
	<bean id="gson" class="com.google.gson.Gson"></bean>
	
	
	
	
	
	
	
	
	
	
	<!-- 首先定义切面通知类 -->
	<!-- <bean id="aspectAdvice" class="com.booltrue.aspect.AspectAdvice">	</bean>
	 -->
	<!-- 然后配置切面 -->
	<!-- <aop:config>
		配置切面
		 <aop:aspect id="aspectUser" ref="aspectAdvice">
			配置切入点
			<aop:pointcut expression="execution(* com.booltrue.service.impl.*.*(..))" id="pointCutUser"/>
			配置多个切点
			<aop:before method="doCheck" pointcut-ref="pointCutUser" />
			<aop:after-returning method="doAfterReturn" pointcut-ref="pointCutUser" />
		</aop:aspect>
		
		<aop:pointcut expression="execution(* com.booltrue.service.impl.*.*(..))" id="transactionPointCut"/>
		
		<aop:advisor advice-ref="txAdvice" pointcut-ref="pointCutUser" />
	</aop:config> -->
	<!-- <tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="test*" propagation="REQUIRED"/>
			<tx:method name="test*" propagation="REQUIRED"/>
		</tx:attributes>
	</tx:advice> -->
	
</beans> 